@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nelly Sattari<br />
    nellysattari@gmail.com<br />
    twitter: @@nelly_sattari<br />
</address>
 